@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#widget {
  background-color: #fe0256;
}
#widget .rw-open-launcher {
  width: 92%;
  padding-left: 4px;
}
#widget .rw-launcher {
  background-color: #0495fe;
}
#widget .rw-header {
  background-color: #0495fe;
}
#widget .rw-client {
  background-color: #0495fe;
}
